.customtext {
  font-family: sans-serif, Arial, Helvetica;

}


.fontcombined {
font: bold 20px sans-serif, Arial, Helvetica;
}

.textcenter {
text-align: center;
}

.textjustify {
text-align: justify;
}

.imgbox {
border: 5px solid #260C0C;
padding: 10px;
background-color: #FFFFFF
}

h1 {
  font-weight: normal;
  color: #BF7F3F;
  font-style: italic;
}

h2 {
  font-weight: normal;
  color: #BF7F3F;
  font-style: italic;
}

h3 {
  font-weight: normal;
  color: #BF7F3F;
  font-style: italic;
}

h4 {
  font-weight: normal;
  color: #BF7F3F;
  font-style: italic;
}

body {
  background-image: url(Typewriter.png);

}
