h1 {
  border: 1px solid #260C0C;
  padding: 10px;
  background-color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h2 {
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  text-align: justify;
  border: 1px solid #260C0C;
  padding: 10px;
  background-color: #FFFFFF;
}

main a {
  text-decoration: none;
  font-weight: bold;
}

main a:hover {
  text-decoration: underline;
  color: #E00003
}

footer {
  margin-top: 10px;
  border: 1px solid #FFFFFF;
  padding: 20px;
  background-color: #262672;
  color: #FFFFFF;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-family: Verdana, sans-serif;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


nav li {
  background-color: blue;
  border: 1px solid black;
  margin: 20px;
  padding: 0px;
  width: 200px;
  display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

Nav li a:hover {
    background-color: #3F3FBF

}

body {
  background-image: url(a5bg.png);

}
